name: QA
on:
  - merge_group
  - push
  - pull_request
jobs:
  spellcheck:
    name: Spellcheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: crate-ci/typos@v1.28.1
  nix-shell:
    name: nix-shell works
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v30
        with:
          # Only used for "nix-build", "nix-shell" etc.
          # Inside the files, I use pinned nixpkgs.
          nix_path: nixpkgs=channel:nixos-23.05
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - run: |
          nix-shell --pure --run "mvn -B dependency:tree"
